footer(
    class="footer"
)
    div(class="container")
        div(class="footer__wrap")
            //- footer main
            div(class="footer__main")
                div(class="footer__main-col")
                    h3
                        a(href="#main") 
                            img(
                                src="https://bookly-theme.myshopify.com/cdn/shop/files/footer-logo_x24_2x_1.png?v=1678339407"
                            ) 
                    ul 
                        li 
                            a(href='#address') Số 1 Võ Văn Ngân
                        li 
                            a(href='#tel') +0000 123 456 789
                        li 
                            a(href="#email") example@gmail.com 
                
                div(class="footer__main-col footer__policies")
                    h3 Trợ giúp
                    ul 
                        li
                            a(href="#search") Tìm kiếm 
                        li
                            a(href="#search") Thông tin
                        li
                            a(href="#search") Chính sách bảo mật

                div(class="footer__main-col footer__policies")
                    h3 Hỗ trợ
                    ul 
                        li 
                            a(href="") Tìm kiếm nâng cao  
                        li 
                            a(href="") Câu hỏi thường gặp  
                        li 
                            a(href="") Vị trí của hàng  
                
                div(class="footer__main-col footer__policies")
                    h3 Thông tin
                    ul 
                        li
                            a(href="") Liên hệ 
                        li
                            a(href="") Giới thiệu 
                        li
                            a(href="") Sự nghiệp 
            
            //- footer sub
            div(class="footer__sub")
                //- copyright
                span(class="copyright") 
                    |   All Right Reserved © 2024, Bookly-theme (password: buddha)

                //- social
                div(class="social")
                    ul 
                        li 
                            a(href="#") 
                                <i class="fa-brands fa-x-twitter"></i>
                        li 
                            a(href="#") 
                                <i class="fa-brands fa-square-facebook"></i>
                        li 
                            a(href="#") 
                                <i class="fa-brands fa-instagram"></i>