mixin form-search()
    form(method="GET" action="" class="form__search")
        input(name="keyword" placeholder="Tìm kiếm")       
        button(type="submit")
            <i class="fa-solid fa-magnifying-glass"></i>