extends ../../layouts/default.pug

//- Mixins
include ../../mixins/section-title.pug

//- Title
block title 
    title #{title}

//- Main
block main 
    +section-title('User', 'Home / User')

    div(class="center")
        div(class="login")
            h3(class="login__title") Đặt lại mật khẩu của bạn
                p Chúng tôi sẽ gửi đến bạn một email để đặt lại mật khẩu
            
            form(
                class="login__form"
            )
                div(class="login__form-item")
                    input(type="email" placeholder="Email")
                div(class="login__form-item")
                    button(type="submit") Gửi

            div(class="login__feature")
                a(href="#forgotpassword") Đăng nhập
                a(href="#forgotpassword") Đăng ký


                
