extends ../../layouts/default.pug

//- Mixins
include ../../mixins/section-title.pug
include ../../mixins/alert

//- Title
block title 
    title #{title}

//- Main
block main 
    +alert-success
    +alert-warning
    +alert-error
    +section-title('User', 'Home / User')

    div(class="center")
        div(class="login")
            h3(class="login__title") Đặt lại mật khẩu của bạn
                p Chúng tôi sẽ gửi đến bạn một email để đặt lại mật khẩu
            
            form(
                class="login__form"
                action="/user/password/forgot"
                method="POST"
            )
                div(class="login__form-item")
                    input(type="email" name="email" placeholder="Email")
                div(class="login__form-item")
                    button(type="submit") Gửi

            div(class="login__feature")
                a(href="/user/login") Đăng nhập
                a(href="/user/signup") Đăng ký


                
