extends ../../layouts/default.pug

//- Mixins
include ../../mixins/section-title.pug
include ../../mixins/alert

//- Title
block title 
    title #{title}

//- Main
block main 
    +alert-success
    +alert-warning
    +alert-error
    +section-title('User', 'Home / User')

    div(class="center")
        div(class="login")
            h3(class="login__title") Nhập mã OTP
        
            form(
                class="login__form"
                method="POST"
                action=`/user/password/otp?email=${email}`
            )
                div(class="login__form-item")
                    input(type="text" name="otp" placeholder="Nhập mã OTP")
                div(class="login__form-item")
                    button(type="submit") Xác nhận

            div(class="login__feature")
                a(href="/user/login") Đăng nhập
                a(href="/user/signup") Đăng ký


                
