extends ../../layouts/default.pug

//- Mixins
include ../../mixins/section-title.pug

//- Title
block title 
    title #{title}

//- Main
block main 
    +section-title('User', 'Home / User')

    div(class="center")
        div(class="login")
            h3(class="login__title") Nhập mã OTP
        
            
            form(
                class="login__form"
            )
                div(class="login__form-item")
                    input(type="text" placeholder="Nhập mã OTP")
                div(class="login__form-item")
                    button(type="submit") Xác nhạn

            div(class="login__feature")
                a(href="#forgotpassword") Đăng nhập
                a(href="#forgotpassword") Đăng ký


                
