extends ../../layouts/default.pug

//- Mixins
include ../../mixins/section-title.pug

//- Title
block title 
    title #{title}

//- Main
block main 
    +section-title('User', 'Home / Create User')

    div(class="center")
        div(class="login")
            h3(class="login__title") Đăng ký

            div(class="login__oauth")   
                div(class="login__oauth-item")
                    a(href="" class="google") 
                        img(src="/client/images/google.svg", alt="")

                div(class="login__oauth-item")
                    a(href="" class="facebook") 
                        img(src="/client/images/facebook.svg", alt="")
                div(class="login__oauth-item")
                    a(href="" class="apple") 
                        img(src="/client/images/apple.svg", alt="")

            div(class="login__horizon") OR
            
            form(
                class="login__form"
                method='POST'
                action='/user/signup'
            )
                div(class="login__form-item")
                    input(type="text" name="fullName" placeholder="Họ Tên")
                div(class="login__form-item")
                    input(type="email" name="email" placeholder="Email")
                div(class="login__form-item")
                    input(type="password" name="password" placeholder="Mật khẩu")
                div(class="login__form-item")
                    button(type="submit") Đăng ký

            div(class="login__feature")
                a(href="/user/login") Đăng nhập


                
