nav(class="sider")
    div(class="sider__wrap")
        //- main 
        div(class="sider__menu")
            div(class="sider__menu-title") MAIN HOME 
            ul
                li(sider__menu-item)
                    a(href="javascript:;" class="")
                        i(class="fa-brands fa-windows")
                        |   Dashboard
        //- page
        div(class="sider__menu")
            div(class="sider__menu-title") ALL PAGE 
            ul 
                li(sider__menu-item)
                    a(href="javascript:;")
                        i(class="fa-solid fa-cart-shopping")
                        |   Sản Phẩm
                div(class="sider__menu-sub hidden")
                    ul(class="")
                        if(role.permissions.includes('products_view'))
                            li 
                                a(href= path_admin + "/products") Danh sách sản phẩm

                        if(role.permissions.includes('products_create'))
                            li 
                                a(href= path_admin + "/products/create") Thêm sản phẩm
                        
                li(sider__menu-item)
                    a(href="#" class)
                        i(class="fa-solid fa-layer-group")
                        |   Danh Mục
                div(class="sider__menu-sub hidden")
                    ul(class="")
                        if(role.permissions.includes('products-category_view'))
                            li 
                                a(href= path_admin + "/products-category") Danh sách danh mục
                        if(role.permissions.includes('products-category_create'))
                            li 
                                a(href= path_admin + "/products-category/create") Thêm danh mục
                
                li(sider__menu-item)
                    a(href="#" class)
                        i(class="fa-regular fa-user")
                        |   Tài khoản
                div(class="sider__menu-sub hidden")
                    ul(class="")
                        if(role.permissions.includes('accounts_view'))
                            li 
                                a(href= path_admin + "/accounts") Danh sách tài khoản
                        if(role.permissions.includes('accounts_create'))
                            li 
                                a(href= path_admin + "/accounts/create") Thêm tài khoản
                
                li(sider__menu-item)
                    a(href="#" class)
                        i(class="fa-solid fa-user-plus")
                        |   Nhóm Quyền
                div(class="sider__menu-sub hidden")
                    ul(class="")
                        if(role.permissions.includes('roles_view'))
                            li 
                                a(href= path_admin + "/roles") Danh sách nhóm quyền
                        if(role.permissions.includes('roles_create'))
                            li 
                                a(href= path_admin + "/roles/create") Thêm nhóm quyền
                        if(role.permissions.includes('roles_view'))
                            li 
                                a(href= path_admin + "/roles/permission") Phân quyền
        //- setting
        div(class="sider__menu")
            div(class="sider__menu-title") SETTING 
            ul 
                li(sider__menu-item)
                    a(href="#" class)
                        i(class="fa-solid fa-gear")
                        |   Cài đặt 
                if(role.permissions.includes('setting_edit'))
                    div(class="sider__menu-sub hidden")
                        ul(class="")
                            li 
                                a(href= path_admin + "/setting/general") Cài đặt chung
                            li 
                                a(href="#") Cài đặt nâng cao