nav(class="sider")
    div(class="sider__wrap")
        //- main 
        div(class="sider__menu")
            div(class="sider__menu-title") MAIN HOME 
            ul
                li(sider__menu-item)
                    a(href="javascript:;" class="")
                        i(class="fa-brands fa-windows")
                        |   Dashboard
        //- page
        div(class="sider__menu")
            div(class="sider__menu-title") ALL PAGE 
            ul 
                li(sider__menu-item)
                    a(href="javascript:;")
                        i(class="fa-solid fa-cart-shopping")
                        |   Sản Phẩm
                div(class="sider__menu-sub hidden")
                    ul(class="")
                        li 
                            a(href= path_admin + "/products") Danh sách sản phẩm
                        li 
                            a(href= path_admin + "/products/create") Thêm sản phẩm
                        
                li(sider__menu-item)
                    a(href="#" class)
                        i(class="fa-solid fa-layer-group")
                        |   Danh Mục
                div(class="sider__menu-sub hidden")
                    ul(class="")
                        li 
                            a(href= path_admin + "/products-category") Danh sách danh mục
                        li 
                            a(href= path_admin + "/products-category/create") Thêm danh mục
                
                li(sider__menu-item)
                    a(href="#" class)
                        i(class="fa-regular fa-user")
                        |   Tài khoản
                div(class="sider__menu-sub hidden")
                    ul(class="")
                        li 
                            a(href= path_admin + "/accounts") Danh sách tài khoản
                        li 
                            a(href= path_admin + "/accountsy/create") Thêm tài khoản
                
                li(sider__menu-item)
                    a(href="#" class)
                        i(class="fa-solid fa-user-plus")
                        |   Nhóm Quyền
                div(class="sider__menu-sub hidden")
                    ul(class="")
                        li 
                            a(href="#") Danh sách nhóm quyền
                        li 
                            a(href="#") Thêm nhóm quyền
                        li 
                            a(href="#") Phân quyền
        //- setting
        div(class="sider__menu")
            div(class="sider__menu-title") SETTING 
            ul 
                li(sider__menu-item)
                    a(href="#" class)
                        i(class="fa-solid fa-gear")
                        |   Cài đặt 
                div(class="sider__menu-sub hidden")
                    ul(class="")
                        li 
                            a(href="#") Cài đặt chung
                        li 
                            a(href="#") Cài đặt nâng cao